name: Trivy

on:
  push:
    branches:
      - main
      - unstable
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # “At 00:00 on Sunday.”
  workflow_dispatch:

permissions: {}

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Scan
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # v0.34.1
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml

      - name: Upload Results to GitHub Security
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        if: always()
        with:
          sarif_file: "trivy-results.sarif"

      - name: Generate Summary Report
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # v0.34.1
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml
          format: "table"
          skip-setup-trivy: true
